# directories
.yarn/
**/.nyc_output
**/artifacts
**/build
**/cache
**/coverage
**/coverage-contracts
**/coverage-ts
**/dist
**/node_modules
**/src/types

# files
*.env
*.log
*.tsbuildinfo
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
